
<h3>You are searching for {{term}}</h3>

<div class="filterby">
	<input type="radio" ng-model="filter" value="name">name 
	<input type="radio" ng-model="filter" value="id">id
	<input type="radio" ng-model="filter" value="email">Email
</div>


<div>
	Here are the results:

	<ul>
		<li ng-repeat="person in people | orderBy:filter">
			<div>
                <img src="http://lorempixel.com/400/200/sports/" alt="">
                 <div>{{person.name}}</div>
            </div>
			<button ng-click="addFriend(person)" ng-hide="isFriend(person) || isMe(person)" >+</button> 
		</li>
	</ul>
</div>